In [1]:
import pandas as pd
import numpy as np
#snomed_dir = "/Users/selah/Data/SnomedCT_InternationalRF2_PRODUCTION_20180731T120000Z/Snapshot/"
snomed_dir = "/home/selah/Data/SnomedCT/SnomedCT_InternationalRF2_PRODUCTION_20180731T120000Z/Snapshot/"
%cd $snomed_dir

/home/selah/Data/SnomedCT/SnomedCT_InternationalRF2_PRODUCTION_20180731T120000Z/Snapshot

In [2]:
columns = lambda f: pd.Series(pd.read_csv(f, sep='\t', nrows=0).columns)
see_sample = lambda f: pd.read_csv(f, sep='\t').sample(5)
import glob
filenames = glob.glob( '**/*.txt', recursive=True)

In [3]:
#read all files into dataframes
dataframes = {}
for file in filenames:
    print(file)
    df = pd.read_csv(file, sep='\t')
    dataframes[file]=df

Refset/Map/der2_sRefset_SimpleMapSnapshot_INT_20180731.txt
Refset/Map/der2_iisssccRefset_ExtendedMapSnapshot_INT_20180731.txt
Refset/Content/der2_Refset_SimpleSnapshot_INT_20180731.txt
Refset/Content/der2_cRefset_AssociationSnapshot_INT_20180731.txt
Refset/Content/der2_cRefset_AttributeValueSnapshot_INT_20180731.txt
Refset/Language/der2_cRefset_LanguageSnapshot-en_INT_20180731.txt
Refset/Metadata/der2_cciRefset_RefsetDescriptorSnapshot_INT_20180731.txt
Refset/Metadata/der2_ciRefset_DescriptionTypeSnapshot_INT_20180731.txt
Refset/Metadata/der2_ssccRefset_MRCMAttributeRangeSnapshot_INT_20180731.txt
Refset/Metadata/der2_ssRefset_ModuleDependencySnapshot_INT_20180731.txt
Refset/Metadata/der2_cRefset_MRCMModuleScopeSnapshot_INT_20180731.txt
Refset/Metadata/der2_cissccRefset_MRCMAttributeDomainSnapshot_INT_20180731.txt
Refset/Metadata/der2_sssssssRefset_MRCMDomainSnapshot_INT_20180731.txt
Terminology/sct2_Description_Snapshot-en_INT_20180731.txt
Terminology/sct2_Identifier_Snapshot_INT_20180731.txt
Terminology/sct2_sRefset_OWLOntologySnapshot_INT_20180731.txt
Terminology/sct2_Concept_Snapshot_INT_20180731.txt
Terminology/sct2_Relationship_Snapshot_INT_20180731.txt
Terminology/sct2_TextDefinition_Snapshot-en_INT_20180731.txt
Terminology/sct2_sRefset_OWLAxiomSnapshot_INT_20180731.txt
Terminology/sct2_StatedRelationship_Snapshot_INT_20180731.txt

In [4]:
dfrel = dataframes['Terminology/sct2_Relationship_Snapshot_INT_20180731.txt']
dfdesc = dataframes['Terminology/sct2_Description_Snapshot-en_INT_20180731.txt']
anxiety_code = 21897009
anxiety_parent = 197480006

def find_matching_rows(df, val):
    return df[(df == val).sum(axis=1)>0]
from IPython.display import display

(anxiety_code, anxiety_parent)

(21897009, 197480006)

Start by only using "Is a" relationships (typeId=116680003)
            
Only use descriptions of type 900000000000003001, use first instance term, build and display a graph

edge definitions in Terminology/sct2_Relationship
node info in Terminology/sct2_Description

## Descriptions for SnomedCT Anxiety disorder concept

In [5]:
dfdesc[dfdesc.conceptId==anxiety_code]

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
35559,36731013,20170731,1,900000000000207008,21897009,en,900000000000013009,Generalized anxiety disorder,900000000000448009
464285,481154010,20170731,1,900000000000207008,21897009,en,900000000000013009,Generalised anxiety disorder,900000000000448009
464286,481155011,20030731,1,900000000000207008,21897009,en,900000000000013009,GAD - Generalized anxiety disorder,900000000000017005
464287,481156012,20020131,1,900000000000207008,21897009,en,900000000000013009,GAD - Generalised anxiety disorder,900000000000017005
731798,751243014,20170731,1,900000000000207008,21897009,en,900000000000003001,Generalized anxiety disorder (disorder),900000000000448009

## Different relationship types
The code below convinces me that I should use 900000000000003001 aka the Fully Specified Name

In [6]:
dfdesc.typeId.value_counts()

900000000000013009    811239
900000000000003001    594069
Name: typeId, dtype: int64

In [7]:
dfdesc[dfdesc.conceptId == 900000000000013009].drop('typeId', axis=1) #drop to avoid confusion

,id,effectiveTime,active,moduleId,conceptId,languageCode,term,caseSignificanceId
1405015,900000000000036016,20170731,1,900000000000012004,900000000000013009,en,Synonym (core metadata concept),900000000000448009
1405016,900000000000037013,20170731,1,900000000000012004,900000000000013009,en,Synonym,900000000000448009

In [8]:
dfdesc[dfdesc.conceptId == 900000000000003001].drop('typeId', axis=1) #keep

,id,effectiveTime,active,moduleId,conceptId,languageCode,term,caseSignificanceId
1405002,900000000000007016,20170731,1,900000000000012004,900000000000003001,en,Fully specified name,900000000000448009
1405003,900000000000008014,20170731,1,900000000000012004,900000000000003001,en,Fully specified name (core metadata concept),900000000000448009

## More stuff

In [9]:
find_matching_rows(dfrel, anxiety_code)

,id,effectiveTime,active,moduleId,sourceId,destinationId,relationshipGroup,typeId,characteristicTypeId,modifierId
180029,183776026,20020131,1,900000000000207008,21897009,197480006,0,116680003,900000000000011006,900000000000451002
1631704,2864813020,20180731,0,900000000000207008,21897009,48694002,0,363705008,900000000000011006,900000000000451002
2682144,9215412026,20180731,1,900000000000207008,21897009,285854004,0,363714003,900000000000011006,900000000000451002

In [10]:
find_matching_rows(dfdesc, 116680003)

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
171320,181114011,20170731,1,900000000000012004,116680003,en,900000000000013009,Is a,900000000000448009
663639,680946014,20170731,1,900000000000012004,116680003,en,900000000000003001,Is a (attribute),900000000000448009

In [11]:
find_matching_rows(dfdesc, 363705008)

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
468155,485024010,20170731,1,900000000000012004,363705008,en,900000000000013009,Has definitional manifestation,900000000000448009
743483,762929013,20170731,1,900000000000012004,363705008,en,900000000000003001,Has definitional manifestation (attribute),900000000000448009

In [12]:
find_matching_rows(dfdesc, 363714003)

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
468164,485033012,20170731,1,900000000000012004,363714003,en,900000000000013009,Interprets,900000000000448009
743492,762938010,20170731,1,900000000000012004,363714003,en,900000000000003001,Interprets (attribute),900000000000448009

In [13]:
dfdesc[dfdesc.conceptId==900000000000448009]

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
1405061,900000000000966013,20170731,1,900000000000012004,900000000000448009,en,900000000000013009,Entire term case insensitive,900000000000448009
1405062,900000000000967016,20170731,1,900000000000012004,900000000000448009,en,900000000000003001,Entire term case insensitive (core metadata co...,900000000000448009
1405063,900000000000968014,20170731,1,900000000000012004,900000000000448009,en,900000000000013009,Case insensitive,900000000000448009

In [14]:
dfdesc[dfdesc.conceptId==900000000000013009]

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
1405015,900000000000036016,20170731,1,900000000000012004,900000000000013009,en,900000000000003001,Synonym (core metadata concept),900000000000448009
1405016,900000000000037013,20170731,1,900000000000012004,900000000000013009,en,900000000000013009,Synonym,900000000000448009

In [15]:
#look for a line that contains both, aka a relationship
for filepath in dataframes:
    print(filepath)
    df = dataframes[filepath]
    dfmatch = df.isin([anxiety_code, anxiety_parent])
    print(dfmatch.sum(axis=1).max())
    print('\n')

Refset/Map/der2_sRefset_SimpleMapSnapshot_INT_20180731.txt
1


Refset/Map/der2_iisssccRefset_ExtendedMapSnapshot_INT_20180731.txt
1


Refset/Content/der2_Refset_SimpleSnapshot_INT_20180731.txt
0


Refset/Content/der2_cRefset_AssociationSnapshot_INT_20180731.txt
1


Refset/Content/der2_cRefset_AttributeValueSnapshot_INT_20180731.txt
0


Refset/Language/der2_cRefset_LanguageSnapshot-en_INT_20180731.txt
0


Refset/Metadata/der2_cciRefset_RefsetDescriptorSnapshot_INT_20180731.txt
0


Refset/Metadata/der2_ciRefset_DescriptionTypeSnapshot_INT_20180731.txt
0


Refset/Metadata/der2_ssccRefset_MRCMAttributeRangeSnapshot_INT_20180731.txt
0


Refset/Metadata/der2_ssRefset_ModuleDependencySnapshot_INT_20180731.txt
0


Refset/Metadata/der2_cRefset_MRCMModuleScopeSnapshot_INT_20180731.txt
0


Refset/Metadata/der2_cissccRefset_MRCMAttributeDomainSnapshot_INT_20180731.txt
0


Refset/Metadata/der2_sssssssRefset_MRCMDomainSnapshot_INT_20180731.txt
0


Terminology/sct2_Description_Snapshot-en_INT_20180731.txt
1


Terminology/sct2_Identifier_Snapshot_INT_20180731.txt
nan


Terminology/sct2_sRefset_OWLOntologySnapshot_INT_20180731.txt
0


Terminology/sct2_Concept_Snapshot_INT_20180731.txt
1


Terminology/sct2_Relationship_Snapshot_INT_20180731.txt
2


Terminology/sct2_TextDefinition_Snapshot-en_INT_20180731.txt
0


Terminology/sct2_sRefset_OWLAxiomSnapshot_INT_20180731.txt
0


Terminology/sct2_StatedRelationship_Snapshot_INT_20180731.txt
2

In [16]:
df = dataframes['Terminology/sct2_Relationship_Snapshot_INT_20180731.txt']
(df == anxiety_code).sum()

id                      0
effectiveTime           0
active                  0
moduleId                0
sourceId                3
destinationId           0
relationshipGroup       0
typeId                  0
characteristicTypeId    0
modifierId              0
dtype: int64

In [17]:
df[df.sourceId == anxiety_code]

,id,effectiveTime,active,moduleId,sourceId,destinationId,relationshipGroup,typeId,characteristicTypeId,modifierId
180029,183776026,20020131,1,900000000000207008,21897009,197480006,0,116680003,900000000000011006,900000000000451002
1631704,2864813020,20180731,0,900000000000207008,21897009,48694002,0,363705008,900000000000011006,900000000000451002
2682144,9215412026,20180731,1,900000000000207008,21897009,285854004,0,363714003,900000000000011006,900000000000451002

In [18]:
df[df.sourceId == anxiety_parent]

,id,effectiveTime,active,moduleId,sourceId,destinationId,relationshipGroup,typeId,characteristicTypeId,modifierId
21038,21286027,20020131,1,900000000000207008,197480006,74732009,0,116680003,900000000000011006,900000000000451002
1619430,2852539026,20180731,0,900000000000207008,197480006,48694002,0,363705008,900000000000011006,900000000000451002
2682315,9215592029,20180731,1,900000000000207008,197480006,48694002,0,116680003,900000000000011006,900000000000451002
2682316,9215593023,20180731,1,900000000000207008,197480006,285854004,0,363714003,900000000000011006,900000000000451002

In [19]:
anxiety_code

21897009

In [20]:
for filepath in dataframes:
    print(filepath)
    df = dataframes[filepath]
    display((df == anxiety_code).sum())
    print('\n')

Refset/Map/der2_sRefset_SimpleMapSnapshot_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    1
mapTarget                0
dtype: int64

Refset/Map/der2_iisssccRefset_ExtendedMapSnapshot_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    1
mapGroup                 0
mapPriority              0
mapRule                  0
mapAdvice                0
mapTarget                0
correlationId            0
mapCategoryId            0
dtype: int64

Refset/Content/der2_Refset_SimpleSnapshot_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    0
dtype: int64

Refset/Content/der2_cRefset_AssociationSnapshot_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    0
targetComponentId        2
dtype: int64

Refset/Content/der2_cRefset_AttributeValueSnapshot_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    0
valueId                  0
dtype: int64

Refset/Language/der2_cRefset_LanguageSnapshot-en_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    0
acceptabilityId          0
dtype: int64

Refset/Metadata/der2_cciRefset_RefsetDescriptorSnapshot_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    0
attributeDescription     0
attributeType            0
attributeOrder           0
dtype: int64

Refset/Metadata/der2_ciRefset_DescriptionTypeSnapshot_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    0
descriptionFormat        0
descriptionLength        0
dtype: int64

Refset/Metadata/der2_ssccRefset_MRCMAttributeRangeSnapshot_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    0
rangeConstraint          0
attributeRule            0
ruleStrengthId           0
contentTypeId            0
dtype: int64

Refset/Metadata/der2_ssRefset_ModuleDependencySnapshot_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    0
sourceEffectiveTime      0
targetEffectiveTime      0
dtype: int64

Refset/Metadata/der2_cRefset_MRCMModuleScopeSnapshot_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    0
mrcmRuleRefsetId         0
dtype: int64

Refset/Metadata/der2_cissccRefset_MRCMAttributeDomainSnapshot_INT_20180731.txt

id                             0
effectiveTime                  0
active                         0
moduleId                       0
refsetId                       0
referencedComponentId          0
domainId                       0
grouped                        0
attributeCardinality           0
attributeInGroupCardinality    0
ruleStrengthId                 0
contentTypeId                  0
dtype: int64

Refset/Metadata/der2_sssssssRefset_MRCMDomainSnapshot_INT_20180731.txt

id                                   0
effectiveTime                        0
active                               0
moduleId                             0
refsetId                             0
referencedComponentId                0
domainConstraint                     0
parentDomain                         0
proximalPrimitiveConstraint          0
proximalPrimitiveRefinement          0
domainTemplateForPrecoordination     0
domainTemplateForPostcoordination    0
guideURL                             0
dtype: int64

Terminology/sct2_Description_Snapshot-en_INT_20180731.txt

id                    0
effectiveTime         0
active                0
moduleId              0
conceptId             5
languageCode          0
typeId                0
term                  0
caseSignificanceId    0
dtype: int64

Terminology/sct2_Identifier_Snapshot_INT_20180731.txt

identifierSchemeId       0
alternateIdentifier      0
effectiveTime            0
active                   0
moduleId                 0
referencedComponentId    0
dtype: int64

Terminology/sct2_sRefset_OWLOntologySnapshot_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    0
owlExpression            0
dtype: int64

Terminology/sct2_Concept_Snapshot_INT_20180731.txt

id                    1
effectiveTime         0
active                0
moduleId              0
definitionStatusId    0
dtype: int64

Terminology/sct2_Relationship_Snapshot_INT_20180731.txt

id                      0
effectiveTime           0
active                  0
moduleId                0
sourceId                3
destinationId           0
relationshipGroup       0
typeId                  0
characteristicTypeId    0
modifierId              0
dtype: int64

Terminology/sct2_TextDefinition_Snapshot-en_INT_20180731.txt

id                    0
effectiveTime         0
active                0
moduleId              0
conceptId             0
languageCode          0
typeId                0
term                  0
caseSignificanceId    0
dtype: int64

Terminology/sct2_sRefset_OWLAxiomSnapshot_INT_20180731.txt

id                       0
effectiveTime            0
active                   0
moduleId                 0
refsetId                 0
referencedComponentId    0
owlExpression            0
dtype: int64

Terminology/sct2_StatedRelationship_Snapshot_INT_20180731.txt

id                      0
effectiveTime           0
active                  0
moduleId                0
sourceId                1
destinationId           0
relationshipGroup       0
typeId                  0
characteristicTypeId    0
modifierId              0
dtype: int64

In [21]:
find_matching_rows(dfrel, anxiety_code)

,id,effectiveTime,active,moduleId,sourceId,destinationId,relationshipGroup,typeId,characteristicTypeId,modifierId
180029,183776026,20020131,1,900000000000207008,21897009,197480006,0,116680003,900000000000011006,900000000000451002
1631704,2864813020,20180731,0,900000000000207008,21897009,48694002,0,363705008,900000000000011006,900000000000451002
2682144,9215412026,20180731,1,900000000000207008,21897009,285854004,0,363714003,900000000000011006,900000000000451002